            <div class="text-center">
                <p>
                    &copy; {{ 'now' | date('Y') }} | Made with <a href="http://picocms.org/">Pico</a>
                </p>
            </div>
        </div>
    </body>
</html>

